body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    color: white;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 15%;
    width: 100%;
    z-index: 1000;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5); /* Optional: To make the header background slightly transparent */
}

.vid {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio : 16/9){
    .vid{
        width:100%;
        height:auto;
    }
}

@media (max-aspect-ratio : 16/9){
    .vid{
        width:auto;
        height:100%;
    }
}
.title {
    justify-content: right;
    font-size: 90px;
    line-height: 110px;
    margin-top: 200px;
    margin-right: 100px;
    margin-bottom: 20px;
    text-align: right;
}
.para {
    justify-content: right;
    font-size: 32px;
    margin-top: 10px;
    margin-right: 100px;
    margin-bottom: 40px;
    text-align: right;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-text {
    display: flex;
    align-items: center;
}

.logo-text h1 {
    margin-left: 10px;
}

.nav a {
    margin-left: 15px;
    color: white;
    text-decoration: none;
}

.content {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    text-align: right;
}

.nav {
    display: flex;
    gap: 10px;
}

.log-in {
    display: flex;
    align-items: center;
    background-color: #4CAF50;
    margin-right: 70px;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 140%;
    color: white;
    text-decoration: none;
    transition: all 0.2s ease;
}
.log-in:hover {
    background-color: #ffffff;
    color: #4CAF50;
}
.log-in:active {
    transform: scale(0.9);
}
.log-in i {
    margin-left: 10px;
}

.sign-up {
    display: flex;
    align-items: center;
    background-color: #4CAF50;
    margin-right: 70px;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 140%;
    color: white;
    text-decoration: none;
    transition: all 0.2s ease;
}
.sign-up:hover {
    background-color: #ffffff;
    color: #4CAF50;
}
.sign-up:active {
    transform: scale(0.9);
}
.sign-up i {
    margin-left: 10px;
}

.log-out {
    display: flex;
    align-items: center;
    background-color: #4CAF50;
    margin-right: 70px;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 140%;
    color: white;
    text-decoration: none;
    transition: all 0.2s ease;
}
.log-out:hover {
    background-color: #ffffff;
    color: #4CAF50;
}
.log-out:active {
    transform: scale(0.9);
}
.log-out i {
    margin-left: 10px;
}

.gotostocks {
    
    align-items: center;
    background-color: #4CAF50;
    margin-left: 75%;
    font-size: 140%;
    font-weight: bolder;
    margin-right: 70px;
    border-radius: 30px;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    transition: all 0.2s ease;
}
.gotostocks:hover {
    background-color: #ffffff;
    color: #4CAF50;
}
.gotostocks:active {
    transform: scale(0.9);
}
.gotostocks i {
    margin-left: 10px;
}
.profile {
    color: #4CAF50;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.profile:hover {
    color: #45a049;
}

.profile:active {
    transform: scale(0.95);
}